.alert-message {
  align-items: center;
  font-size: 1.2rem;
  margin: auto;
  gap: 10px;
  background: #2db77b98;
  color: rgb(235, 235, 235);
  width: min-content;
  white-space: nowrap;
  padding: 6px;
  border-radius: 8px;
  display: flex;
  .alert_icon {
    font-size: 1.4rem;
  }
}
.error {
  background: #d4190098;
  color: rgb(255, 173, 173);
}
