.filters_section {
  background: #012030a0;
  color: #dafdba;
  margin-top: 40px;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .filters_inputs {
    display: flex;
    gap: 20px;
  }
  .filters_buttons {
    display: flex;
    gap: 20px;
  }
}
