*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: #13678a;
  min-height: 101vh;
}
a {
  color: inherit;
  text-decoration: none;
}
